{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Sniphub</title>
</head>

<body>
    <header>
        <h1><a href='/'>Sniphub</a></h1>
    </header>
    <nav>
        <a href='/'>Home</a>
    </nav>
    <main>
        {{template "main" .}} 
    </main>
    <footer>
        {{template "footer" .}}
    </footer>

</body>

</html>
{{end}}