{{- /*gotype: github.com/rhodeon/sniphub/cmd/web/internal/templates.TemplateData*/ -}}

{{define "footer"}}
<footer>Powered by <a href='https://golang.org/'>Go</a> - {{.CurrentYear}} </footer> 
{{end}}