{{- /*gotype: github.com/rhodeon/sniphub/cmd/web/internal/templates.TemplateData*/ -}}

{{template "base" .}}

{{define "title"}}Snip #{{.Snip.Id}}{{end}}

{{define "main"}}
    {{template "snip" .Snip}}
{{end}}