{{- /*gotype: github.com/rhodeon/sniphub/cmd/web/internal/templates.TemplateData*/ -}}

{{template "base" .}}

{{define "title"}}Snip #{{.Snip.Id}}{{end}}

{{define "main"}}
    {{$snipData := embedIntoSnip .CsrfToken .User.Username .Snip}}
    {{template "snip" $snipData}}
{{end}}